body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.logo{
    display:inline-block;
}

.navigation{
    float:right;
}

.fixedImage {
    alt: "Swimming"
    hieght : auto;
    width: 100%;
}

header {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 180px;
    background-color: rgb(248, 248, 248);

    /*border: 3px solid red;*/

}

.top_rip {
    width: 100%;
    height: 80px;
    background: url("../images/rippy.png") repeat-x;
    position: absolute;
    top: 185px;

}

.bottom_rip {
    width: 100%;
    height: 80px;
    background: url("../images/bottomrippy.png") repeat-x;
    position: absolute;
    top: 720px;
}

.siteMove {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: 250px;
    margin-right: auto;
    align: center;
    min-width: 984px;
    overflow: scroll;
    width: 100%;
    position: relative;
    min-width: 984px;
    z-index: 2;
}

.fixed {
    position: fixed;
    width: 100%;
}

.pageBody {
    stylstyle: "top:220px;"
}

.homeBase {
    margin-left: auto;
    margin-right: auto;
}

.imgHolder {
    overflow: hidden;
}

.imgBorder {
    border-bottom: none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 4px solid black;
}

.smallTxt {
    display: block;
    color: #111;
    position: relative;
    z-index: 5;
    font-size: 25px;
    font-family: 'IS-HelveticaLTStd-Bold', Arial, sans-serif;
    padding-top: 13px;
    text-shadow: rgba(255, 255, 255, .2) 1px 1px 0px;
    text-decoration: none !important;
}

.largeTxt {
    display: block;
    color: #FFF;
    position: relative;
    z-index: 5;
    font-size: 42px;
    font-family: 'IS-Clarendon', Arial, sans-serif;
    margin-top: -3px;
    text-shadow: rgba(0, 0, 0, .5) 2px 2px 0px;
    text-decoration: none !important;
}

.homeBoxOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: -moz-linear-gradient(top, rgba(160, 160, 160, .1) 0%, rgba(255, 255, 255, .08) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(160, 160, 160, .1)), color-stop(100%, rgba(255, 255, 255, .08)));
    background: -webkit-linear-gradient(top, rgba(160, 160, 160, .1) 0%, rgba(255, 255, 255, .08) 100%);
    background: -o-linear-gradient(top, rgba(160, 160, 160, .1) 0%, rgba(255, 255, 255, .08) 100%);
    background: -ms-linear-gradient(top, rgba(160, 160, 160, .1) 0%, rgba(255, 255, 255, .08) 100%);
    background: linear-gradient(top, rgba(160, 160, 160, .1) 0%, rgba(255, 255, 255, .08) 100%);
}

.homeBoxLinkSection {
    display: block;
    float: left;
    margin-left: 14px;
    /*  width:218px;*/
    height: 410px;
    position: relative;
    z-index: 5;
    text-decoration: none !important;
}

.homeBoxLinkSection .imgHolder {
    display: block;
    height: 305px;
    /*  width:218px; */
    overflow: hidden;
    border-bottom: none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.homeBoxLinkSection .imgHolder img {
    background: #FFF;
    min-width: 218px;
    min-height: 305px;
}

.homeBoxLinkSection .bottomPiece {
    display: block;
    width: 218px;
    height: 125px;
    text-align: center;
    position: relative;
    background: #4f4f4f;
    background: rgba(250, 250, 200, 50);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 4px solid black;

}

.smallTxt {
    display: block;
    color: #111;
    position: relative;
    z-index: 5;
    font-size: 25px;
    font-family: 'IS-HelveticaLTStd-Bold', Arial, sans-serif;
    padding-top: 13px;
    text-shadow: rgba(255, 255, 255, .2) 1px 1px 0px;
    text-decoration: none !important;
}

.largeTxt {
    display: block;
    color: #FFF;
    position: relative;
    z-index: 5;
    font-size: 42px;
    font-family: 'IS-Clarendon', Arial, sans-serif;
    margin-top: -3px;
    text-shadow: rgba(0, 0, 0, .5) 2px 2px 0px;
    text-decoration: none !important;
}

.homeBoxButtonShine {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 30px;
    background: rgba(255, 255, 255, .1);
    z-index: 4;
}

.homeBoxLinkSection:hover .bottomPiece .homeBoxButtonShine, .headerNavButton:hover .homeBoxButtonShine {
    background: rgba(255, 255, 255, .2);
}

.boxHover {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 3;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.boxHover {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.homeBoxLinkSection:hover .bottomPiece .boxHover, .headerNavButton:hover .boxHover, .headerNavButton.active .boxHover {
    display: block;
}

.boxHover.plan {
    background: rgb(191, 217, 4);
    background: -moz-linear-gradient(top, rgb(191, 217, 4) 0%, rgba(99, 147, 49, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(191, 217, 4, 1)), color-stop(100%, rgba(99, 147, 49, 1)));
    background: -webkit-linear-gradient(top, rgba(191, 217, 4, 1) 0%, rgba(99, 147, 49, 1) 100%);
    background: -o-linear-gradient(top, rgba(191, 217, 4, 1) 0%, rgba(99, 147, 49, 1) 100%);
    background: -ms-linear-gradient(top, rgba(191, 217, 4, 1) 0%, rgba(99, 147, 49, 1) 100%);
    background: linear-gradient(top, rgba(191, 217, 4, 1) 0%, rgba(99, 147, 49, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfd904', endColorstr='#639331', GradientType=0);
}

.boxHover.create {
    background: rgb(229, 127, 127);
    background: -moz-linear-gradient(top, rgba(229, 127, 127, 1) 0%, rgba(158, 4, 2, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229, 127, 127, 1)), color-stop(100%, rgba(158, 4, 2, 1)));
    background: -webkit-linear-gradient(top, rgba(229, 127, 127, 1) 0%, rgba(158, 4, 2, 1) 100%);
    background: -o-linear-gradient(top, rgba(229, 127, 127, 1) 0%, rgba(158, 4, 2, 1) 100%);
    background: -ms-linear-gradient(top, rgba(229, 127, 127, 1) 0%, rgba(158, 4, 2, 1) 100%);
    background: linear-gradient(top, rgba(229, 127, 127, 1) 0%, rgba(158, 4, 2, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57f7f', endColorstr='#9e0402', GradientType=0);
}

.boxHover.visit {
    background: rgb(9, 168, 214);
    background: -moz-linear-gradient(top, rgba(9, 168, 214, 1) 0%, rgba(23, 95, 156, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(9, 168, 214, 1)), color-stop(100%, rgba(23, 95, 156, 1)));
    background: -webkit-linear-gradient(top, rgba(9, 168, 214, 1) 0%, rgba(23, 95, 156, 1) 100%);
    background: -o-linear-gradient(top, rgba(9, 168, 214, 1) 0%, rgba(23, 95, 156, 1) 100%);
    background: -ms-linear-gradient(top, rgba(9, 168, 214, 1) 0%, rgba(23, 95, 156, 1) 100%);
    background: linear-gradient(top, rgba(9, 168, 214, 1) 0%, rgba(23, 95, 156, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09a8d6', endColorstr='#175f9c', GradientType=0);
}

.boxHover.engage {
    background: rgb(243, 219, 125);
    background: -moz-linear-gradient(top, rgba(243, 219, 125, 1) 0%, rgba(187, 149, 2, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 219, 125, 1)), color-stop(100%, rgba(187, 149, 2, 1)));
    background: -webkit-linear-gradient(top, rgba(243, 219, 125, 1) 0%, rgba(187, 149, 2, 1) 100%);
    background: -o-linear-gradient(top, rgba(243, 219, 125, 1) 0%, rgba(187, 149, 2, 1) 100%);
    background: -ms-linear-gradient(top, rgba(243, 219, 125, 1) 0%, rgba(187, 149, 2, 1) 100%);
    background: linear-gradient(top, rgba(243, 219, 125, 1) 0%, rgba(187, 149, 2, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3db7d', endColorstr='#bb9502', GradientType=0);
}

/* ACTIVE HOVERS */
.headerNavButton.active:hover .boxHover.plan, .headerNavButton:active .boxHover.plan {
    background: rgb(223, 251, 38);
    background: -moz-linear-gradient(top, rgba(223, 251, 38, 1) 0%, rgba(117, 181, 83, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(223, 251, 38, 1)), color-stop(100%, rgba(117, 181, 83, 1)));
    background: -webkit-linear-gradient(top, rgba(223, 251, 38, 1) 0%, rgba(117, 181, 83, 1) 100%);
    background: -o-linear-gradient(top, rgba(223, 251, 38, 1) 0%, rgba(117, 181, 83, 1) 100%);
    background: -ms-linear-gradient(top, rgba(223, 251, 38, 1) 0%, rgba(117, 181, 83, 1) 100%);
    background: linear-gradient(top, rgba(223, 251, 38, 1) 0%, rgba(117, 181, 83, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dffb26', endColorstr='#75b553', GradientType=0);
}

.headerNavButton.active:hover .boxHover.create, .headerNavButton:active .boxHover.create {
    background: rgb(247, 159, 159);
    background: -moz-linear-gradient(top, rgba(247, 159, 159, 1) 0%, rgba(191, 38, 36, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 159, 159, 1)), color-stop(100%, rgba(191, 38, 36, 1)));
    background: -webkit-linear-gradient(top, rgba(247, 159, 159, 1) 0%, rgba(191, 38, 36, 1) 100%);
    background: -o-linear-gradient(top, rgba(247, 159, 159, 1) 0%, rgba(191, 38, 36, 1) 100%);
    background: -ms-linear-gradient(top, rgba(247, 159, 159, 1) 0%, rgba(191, 38, 36, 1) 100%);
    background: linear-gradient(top, rgba(247, 159, 159, 1) 0%, rgba(191, 38, 36, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f79f9f', endColorstr='#bf2624', GradientType=0);
}

.headerNavButton.active:hover .boxHover.visit, .headerNavButton:active .boxHover.visit {
    background: rgb(43, 202, 248);
    background: -moz-linear-gradient(top, rgba(43, 202, 248, 1) 0%, rgba(57, 127, 190, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(43, 202, 248, 1)), color-stop(100%, rgba(57, 127, 190, 1)));
    background: -webkit-linear-gradient(top, rgba(43, 202, 248, 1) 0%, rgba(57, 127, 190, 1) 100%);
    background: -o-linear-gradient(top, rgba(43, 202, 248, 1) 0%, rgba(57, 127, 190, 1) 100%);
    background: -ms-linear-gradient(top, rgba(43, 202, 248, 1) 0%, rgba(57, 127, 190, 1) 100%);
    background: linear-gradient(top, rgba(43, 202, 248, 1) 0%, rgba(57, 127, 190, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2bcaf8', endColorstr='#397fbe', GradientType=0);
}

.headerNavButton.active:hover .boxHover.engage, .headerNavButton:active .boxHover.engage {
    background: rgb(245, 253, 159);
    background: -moz-linear-gradient(top, rgba(245, 253, 159, 1) 0%, rgba(221, 183, 36, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 253, 159, 1)), color-stop(100%, rgba(221, 183, 36, 1)));
    background: -webkit-linear-gradient(top, rgba(245, 253, 159, 1) 0%, rgba(221, 183, 36, 1) 100%);
    background: -o-linear-gradient(top, rgba(245, 253, 159, 1) 0%, rgba(221, 183, 36, 1) 100%);
    background: -ms-linear-gradient(top, rgba(245, 253, 159, 1) 0%, rgba(221, 183, 36, 1) 100%);
    background: linear-gradient(top, rgba(245, 253, 159, 1) 0%, rgba(221, 183, 36, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fd9f', endColorstr='#ddb724', GradientType=0);
}

/* CLICK INSET EFFECT */
.headerNavButton:active .boxHover, .homeBoxLinkSection:active .bottomPiece .boxHover {
    -moz-box-shadow: inset 4px 4px 8px 2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 4px 4px 8px 2px rgba(0, 0, 0, .5);
    box-shadow: inset 4px 4px 8px 2px rgba(0, 0, 0, .5);
}

.homeLargeBack {
    width: 100%;
    height: 577px;
    position: relative;
    top: 210px;
}

.homeLargeBack img {
    min-height: 550px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.homeLargeImgLoader {
    visibility: hidden;
}

.homeLargeBack .fadeOffLeft {
    width: 50px;
    height: 577px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    background: -moz-linear-gradient(left, rgba(41, 57, 74, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(41, 57, 74, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(41, 57, 74, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(41, 57, 74, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(41, 57, 74, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(left, rgba(41, 57, 74, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.homeLargeBack .fadeOffRight {
    width: 50px;
    height: 577px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(43, 60, 78, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(43, 60, 78, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(43, 60, 78, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(43, 60, 78, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(43, 60, 78, 1) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(43, 60, 78, 1) 100%);


}