<section > <!--ng-controller="libCtrl"-->
    <div class="fixed">
        <header>
            <div>
            <div class="logo">
                <img  alt="swimergistic" src="../images/logo4.png">
            </div>

            <!-- Adding the ng-app declaration to initialize AngularJS -->
            <!-- Adding the ng-app declaration to initialize AngularJS -->
            <div class="navigation">
                <!-- The navigation menu will get the value of the "active" variable as a class.
                     The $event.preventDefault() stops the page from jumping when a link is clicked. -->

                <nav class="{{active}}" ng-click="$event.preventDefault()">

                    <!-- When a link in the menu is clicked, we set the active variable -->

                    <a href="#" class="home curl-top-left" ui-sref="main" ng-click="active='home'">Home</a>
                    <a href="#" class="plan curl-top-left" ui-sref="plan" ng-click="active='plan'">Plan</a>
                    <a href="#" class="create curl-top-left" ui-sref="create" ng-click="active='create'">Create</a>
                    <a href="#" class="visit curl-top-left" ui-sref="library" ng-click="active='visit'">Visit</a>
                    <a href="#" class="engage curl-top-left" ui-sref="engage" ng-click="active='engage'">Engage</a>
                </nav>

                <!-- ng-show will show an element if the value in the quotes is truthful,
                     while ng-hide does the opposite. Because the active variable is not set
                     initially, this will cause the first paragraph to be visible. -->

  <!--              <p ng-hide="active">Please click a menu item</p>
                <p ng-show="active">You chose <b>{{active}}</b></p>-->
            </div>

            </div>


            <div class="top_rip">
            </div>
        </header>
        <img class="fixedImage"
             ng-src="./images/IMG_KATE_Small.JPG"/>

        <footer>
            <div class="bottom_rip">
            </div>
        </footer>
    </div>



   <div class="siteMoveLibrary">
        <div class="pageBody">
            <div class="homeBox">
                <div class="homeBoxOverlayLibrary">

                   <form novalidate class="css-form">

                        <span class=largeTxtAltitude>Swim Event:</span>
                        <select ng-model="swim.event" placeholder='Select Event'>
                            <option>50 Free Style</option>
                            <option>100 Free Style</option>
                            <option>200 Free Style</option>
                            <option>400/500 Free Style</option>
                            <option>800/1000 Free Style</option>
                            <option>1500/1650 Free Style</option>
                            <option>50 Backstroke Style</option>
                            <option>100 Backstroke Style</option>
                            <option>200 Backstroke Style</option>
                            <option>50 Breaststroke Style</option>
                            <option>100 Breaststroke Style</option>
                            <option>200 Breaststroke Style</option>
                            <option>50 Butterfly Style</option>
                            <option>100 Butterfly Style</option>
                            <option>200 Butterfly Style</option>
                            <option>200 Individual Medley</option>
                            <option>400 Individual Medley</option>
                        </select>
                       <span class=largeTxtAltitude>Time</span>
                       <input type="number" ng-model="swim.minute"  min="0" max="99" value='00' placeholder='00' maxlength="2"  required> <span class=largeTxtAltitude> : </span>
                       <input type="number" ng-model="swim.seconds"  min="0" max="99" value='00' placeholder='00' maxlength="2" required>  <span class=largeTxtAltitude> .</span>
                       <input type="number" ng-model="swim.fraction" min="0" max="99" value='00' placeholder='00' maxlength="2" required>
                       <br />
                       <br />
                       <span class=largeTxtAltitude>From:</span>
                       <select ng-model="swim.from" placeholder='Select Course'>
                           <option>Long Course Meter</option>
                           <option>Short Course Yard</option>
                           <option>Short Course Meter</option>
                       </select>

                       <span class=largeTxtAltitude>To:</span>
                       <select ng-model="swim.to" placeholder='Select Course'>
                           <option>Long Course Meter</option>
                           <option>Short Course Yard</option>
                           <option>Short Course Meter</option>
                       </select>
                       <br />
                       <br />
                       <span class=largeTxtAltitude>Altitude Adjustment:</span>
                       <select ng-model="swim.Altitude" required ng-options='option.value as option.name for option in typeOptions'>
<!--                           <option>None</option>
                           <option>3000-4250 ft</option>
                           <option>4251-6500 ft</option>
                           <option>65000+</option>-->
                       </select>
                       <br />
                       <br />
                       <button ng-click="convert(swim)">
                           Convert
                       </button>
                       <span class=largeTxtAltitude>  converted time: {{ swim.result}}</span>

                    </form>
                  </div>
            </div>
        </div>
   </div>
</section>

