<section ng-controller="MainCtrl">
    <div class="fixed">
        <header>
            <div class="logo">
                <img  alt="swimergistic" src="../images/logo3.jpg">
            </div>

            <div class="top_rip">
            </div>
        </header>
        <img class="fixedImage"
             ng-src="{{urlbackimage}}"/>
        <!-- src="../images/IMG_KATE_Small.JPG" />-->
        <!-- src="../images/swimming_pool_1.jpg" /> -->

        <footer>
            <div class="bottom_rip">
            </div>
        </footer>
    </div>
    <div class="siteMove">
        <div class="pageBody">
            <div class="homeBox">
                <div class="homeBoxOverlay"></div>
                <a class="homeBoxLinkSection hover-shadow" ui-sref="plan"
                   ng-mouseenter="setBackground('../images/isaac_small.JPG')"
                   ng-mouseleave="setBackground('../images/swimming_pool_1.jpg')">
                <span class="imgHolder">
                  <img class="imgBorder" alt="trail" src="../images/meet_small.jpg">
                </span>
                <span class="bottomPiece">
                   <span class="homeBoxButtonShine"></span>
                   <span class="boxHover plan">
                      <span class="swim"></span>
                   </span>
                  <span class="largeTxt">PLAN</span>
                  <span class="smallTxt"> a meet, event or activity</span>

                </span>
                </a>
                <a class="homeBoxLinkSection hover-shadow" ui-sref="create"
                   ng-mouseenter="setBackground('../images/IMG_hand_small.JPG')"
                   ng-mouseleave="setBackground('../images/swimming_pool_1.jpg')">
                <span class="imgHolder">
                    <img class="imgBorder" alt="rent" src="../images/volunteers_small.jpg">
                </span>
                <span class="bottomPiece">
                    <span class="homeBoxButtonShine"></span>
                        <span class="boxHover create">
                            <span class="swim"></span>
                        </span>
                        <span class="largeTxt">CREATE</span>
                        <span class="smallTxt">more helpers</span>

                 </span>
                </a>
                <a class="homeBoxLinkSection hover-shadow" ui-sref="library"
                   ng-mouseenter="setBackground('../images/IMG_KATE_Small.JPG')"
                   ng-mouseleave="setBackground('../images/swimming_pool_1.jpg')">
                <span class="imgHolder">
                    <img class="imgBorder" alt="buy" src="../images/library_small.jpg">
                </span>
                <span class="bottomPiece">
                    <span class="homeBoxButtonShine"></span>
                    <span class="boxHover visit">
                        <span class="swim"></span>
                    </span>
                    <span class="largeTxt">VISIT</span>
                    <span class="smallTxt">Online Library</span>

                </span>
                </a>
                <a class="homeBoxLinkSection hover-shadow" ui-sref="engage"
                   ng-mouseenter="setBackground('../images/IMG_dive_small.jpg')"
                   ng-mouseleave="setBackground('../images/swimming_pool_1.jpg')">
                <span class="imgHolder">
                    <img class="imgBorder" alt="service" src="../images/engage_small.jpg">
                </span>
                <span class="bottomPiece">
                    <span class="homeBoxButtonShine"></span>
                    <span class="boxHover engage">
                        <span class="swim"></span>
                    </span>
                    <span class="largeTxt">ENGAGE</span>
                    <span class="smallTxt">Sign and Share ideas</span>

                </span>
                </a>

            </div>
        </div>
    </div>
</section>

