


<section class="main">
    <div class="fixed">
        <header>
            <h1>Swimergistics</h1>
            <div class="top_rip">
            </div>
        </header>
        <img src="../images/swimmingwallpaper_wallpaperswa.com_44_small.jpg" alt="Swimming" height=auto; width="1440px"/>
        <footer>
            <div class="bottom_rip">
            </div>
        </footer>
    </div>
    <div class="siteMove">
        <div class="pageBody" >
            <div class="homeBox">
            <div class="homeBoxRibbon topRight"></div>
            <div class="homeBoxRibbon bottomLeft"></div>
            <div class="homeBoxOverlay"></div>
            <a class="homeBoxLinkSection farLeft" href="https://redrockbicycle.com/find-a-trail/">
                <span class="imgHolder">
                  <img class="imgBorder" alt="trail" src="../images/findTrail2.jpg">
                </span>
                <span class="bottomPiece">
                   <span class="homeBoxArrow"></span>
                   <span class="homeBoxButtonShine"></span>
                   <span class="boxHover trail">
                      <span class="grundge"></span>
                   </span>
                  <span class="largeTxt">PLAN</span>
                  <span class="smallTxt"> a meet, event or activity</span>

                </span>
            </a>
            <a class="homeBoxLinkSection" href="https://redrockbicycle.com/rent-a-bike/">
                <span class="imgHolder">
                    <img class="imgBorder" alt="rent" src="../images/redrockRent1.jpg">
                </span>
                <span class="bottomPiece">
                    <span class="homeBoxArrow"></span>
                    <span class="homeBoxButtonShine"></span>
                        <span class="boxHover rent">
                            <span class="grundge"></span>
                        </span>
                        <span class="largeTxt">CREATE</span>
                        <span class="smallTxt">more helpers</span>

                 </span>
            </a>
            <a class="homeBoxLinkSection" href="https://redrockbicycle.com/buy-a-bike/">
                <span class="imgHolder">
                    <img class="imgBorder" alt="buy" src="../images/buyBike.jpg">
                </span>
                <span class="bottomPiece">
                    <span class="homeBoxArrow"></span>
                    <span class="homeBoxButtonShine"></span>
                    <span class="boxHover buy">
                        <span class="grundge"></span>
                    </span>
                    <span class="largeTxt">VISIT</span>
                    <span class="smallTxt">Online Library</span>

                </span>
            </a>
            <a class="homeBoxLinkSection" href="https://redrockbicycle.com/service-a-bike/red-rock-tune-ups/">
                <span class="imgHolder">
                    <img class="imgBorder" alt="service" src="../images/redrockService1.jpg">
                </span>
                <span class="bottomPiece">
                    <span class="homeBoxArrow"></span>
                    <span class="homeBoxButtonShine"></span>
                    <span class="boxHover service">
                        <span class="grundge"></span>
                    </span>
                    <span class="largeTxt">ENGAGE</span>
                    <span class="smallTxt">Sign and Share ideas</span>

                </span>
            </a>

            </div>
        </div>
    </div>
</section>

