<section class="main">
    <div class="fixed">
        <header>
            <h1>Swimergistics</h1>

            <div class="top_rip">
            </div>
        </header>
        <img class="fixedImage"
             ng-src="{{urlbackimage}}"/>
        <!-- src="../images/IMG_KATE_Small.JPG" />-->
        <!-- src="../images/swimming_pool_1.jpg" /> -->

        <footer>
            <div class="bottom_rip">
            </div>
        </footer>
    </div>
    <div class="siteMove">
        <div class="pageBody">
            <div class="homeBox">
                <div class="homeBoxOverlay"></div>
                <a class="homeBoxLinkSection" href="https://redrockbicycle.com/find-a-trail/"
                   ng-mouseenter="setBackground('../images/IMG_KATE_Small.JPG')"
                   ng-mouseleave="setBackground('../images/swimming_pool_1.jpg')">
                <span class="imgHolder">
                  <img class="imgBorder" alt="trail" src="../images/findTrail2.jpg">
                </span>
                <span class="bottomPiece">
                   <span class="homeBoxButtonShine"></span>
                   <span class="boxHover plan">
                      <span class="swim"></span>
                   </span>
                  <span class="largeTxt">PLAN</span>
                  <span class="smallTxt"> a meet, event or activity</span>

                </span>
                </a>
                <a class="homeBoxLinkSection" href="https://redrockbicycle.com/rent-a-bike/"
                   ng-mouseenter="setBackground('../images/IMG_KATE_Small.JPG')"
                   ng-mouseleave="setBackground('../images/swimming_pool_1.jpg')">
                <span class="imgHolder">
                    <img class="imgBorder" alt="rent" src="../images/redrockRent1.jpg">
                </span>
                <span class="bottomPiece">
                    <span class="homeBoxButtonShine"></span>
                        <span class="boxHover create">
                            <span class="swim"></span>
                        </span>
                        <span class="largeTxt">CREATE</span>
                        <span class="smallTxt">more helpers</span>

                 </span>
                </a>
                <a class="homeBoxLinkSection" href="https://redrockbicycle.com/buy-a-bike/"
                   ng-mouseenter="setBackground('../images/IMG_KATE_Small.JPG')"
                   ng-mouseleave="setBackground('../images/swimming_pool_1.jpg')">
                <span class="imgHolder">
                    <img class="imgBorder" alt="buy" src="../images/buyBike.jpg">
                </span>
                <span class="bottomPiece">
                    <span class="homeBoxButtonShine"></span>
                    <span class="boxHover visit">
                        <span class="swim"></span>
                    </span>
                    <span class="largeTxt">VISIT</span>
                    <span class="smallTxt">Online Library</span>

                </span>
                </a>
                <a class="homeBoxLinkSection" href="https://redrockbicycle.com/service-a-bike/red-rock-tune-ups/"
                   ng-mouseenter="setBackground('../images/IMG_KATE_Small.JPG')"
                   ng-mouseleave="setBackground('../images/swimming_pool_1.jpg')">
                <span class="imgHolder">
                    <img class="imgBorder" alt="service" src="../images/redrockService1.jpg">
                </span>
                <span class="bottomPiece">
                    <span class="homeBoxButtonShine"></span>
                    <span class="boxHover engage">
                        <span class="swim"></span>
                    </span>
                    <span class="largeTxt">ENGAGE</span>
                    <span class="smallTxt">Sign and Share ideas</span>

                </span>
                </a>

            </div>
        </div>
    </div>
</section>

